*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-commands--specific/
!bash-commands--specific/administration--demote-user-from-admin.sh
!bash-commands--specific/administration--promote-user-as-admin.sh
!bash-commands--specific/administration--recover-test-user.sh
!bash-commands--specific/administration--register-test-user.sh
!bash-commands--specific/setup--generate-configuration.sh
!bash-util
!docker/
!docker/server--matrix-synapse/
!docker/server--matrix-synapse/rootfs/
!docker/server--matrix-synapse/rootfs/opt/
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/deactivate-matrix-user.sh
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/demote-matrix-user-from-admin.sh
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/leave-all-rooms.sh
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/promote-matrix-user-as-admin.sh
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/recover-matrix-user.sh
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/register-matrix-user.expect
!docker/server--matrix-synapse/rootfs/opt/matrix-synapse/register-matrix-user.sh
!docker/server--matrix-synapse/default.docker
!.gitignore
!.gitmodules
!LICENCE
